@import '../../colors';

.dashboard {
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-icon {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 3.5rem;
			height: 3.5rem;
			border-radius: 50%;
			background-color: white;
			cursor: pointer;

			svg {
				font-size: 1.8rem;
				color: grey;
				transition: color 0.4s;
			}

			&:hover svg {
				color: black;
			}
		}

		&-info {
			flex: 0 0 auto;
			justify-content: center;
			p,
			span {
				margin-bottom: 0;
				font-size: 1.1rem;
			}

			span {
				color: grey;
			}
		}

		.avatar {
			background-color: $additional_green;

			img {
				height: 70%;
			}
		}
	}

	&__search {
		display: flex;
		gap: 0.5rem;
		border-radius: 3rem;
		overflow: hidden;
		background-color: white;
		padding: 0.5rem 1rem;

		button {
			border: none;
			background-color: transparent;
		}

		input {
			border: none;
			font-size: 1.1rem;
			padding: 0.2rem 0.4rem;
		}
	}
}
